
/* Main CSS */

:root {
    --color-background: #FFF;
    --color-background-2: #eee;
    --color-background-error: #f0f0f0; 
    --color-main-1: #080808;
    --color-main-2: #5E00FF;
    --color-main-3: #0099ff;
    --color-main-4: #dfdfdf;
    --font-main: 'Rubik', sans-serif;
    --font-title: 'Rubik', sans-serif;
    --color-text: #080808;
    --color-link: #080808;
    --color-label: #080808;
    --color-error: #721913;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: var(--font-main);
    font-style: normal;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    overflow-x: hidden;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    @media (max-width: 1360px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mt-120 {
    margin-top: 120px;
    @media (max-width: 1360px) {
        margin-top: 60px;
    }
}

.mt-60 {
    margin-top: 60px;
    @media (max-width: 1360px) {
       margin-top: 30px;
    }
}

.mb-120 {
   margin-bottom: 120px;
    @media (max-width: 1360px) {
       margin-bottom: 60px;
    }
}

.mb-60 {
    margin-bottom: 60px;
    @media (max-width: 1360px) {
        margin-bottom: 30px;
    }
}

.pt-120 {
    padding-top: 120px;
    @media (max-width: 1360px) {
        padding-top: 60px;
    }
}

.pt-60 {
    padding-top: 60px;
    @media (max-width: 1360px) {
        padding-top: 30px;
    }
}

.pb-120 {
    padding-bottom: 120px;
    @media (max-width: 1360px) {
        padding-bottom: 60px;
    }
}

.pb-60 {
    padding-bottom: 60px;
    @media (max-width: 1360px) {
        padding-bottom: 30px;
    }
}

header {
    position: relative;
    z-index: 20;
}

h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 90px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
    @media (max-width: 1200px) {
        font-size: 60px;
    }
}

h2 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
    @media (max-width: 1200px) {
        font-size: 48px;
    }
}

h3 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
    @media (max-width: 1200px) {
        font-size: 36px;
    }
}

h4 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
    @media (max-width: 1200px) {
        font-size: 24px;
    }
}

h5 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
    @media (max-width: 1200px) {
        font-size: 18px;
    }
}

h6 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

p, span, a, li {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-text);
}

a {
    color: var(--color-link);
}

ul, ol {
    padding-left: 30px;
}

.input-wrapper {
    label:not(.checkbox-wrapper) {
        padding: 10px 18px;
        display: block;
        color: var(--color-label);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    textarea,
    input {
        width: 100%;
        height: 60px;
        padding: 0 18px;
        background: var(--color-background-2);
        border-radius: 24px;
        border: 2px solid var(--color-background-2);
        color: var(--color-text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        &::placeholder {
            color: #9A9A9A;
        }
        &:focus-visible {
            outline: none;
        }
    }
    
    textarea {
        height: 250px;
        padding: 18px 18px;
    }

    select {
        width: 100%;
        height: 60px;
        padding: 0 18px;
        background: var(--color-background-2);
        border-radius: 24px;
        border: 2px solid var(--color-background-2);
        color: var(--color-text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        background-image: url('../../assets/img/icon-arrow.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center right 18px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::-ms-expand {
            display: none;
        }
        &:focus-visible {
            outline: none;
        }
    }

    &.error {
        input {
            background: var(--color-background-error);
            color: var(--color-error);
            outline: none;
            border: 2px solid var(--color-error);
            &::placeholder {
                color: var(--color-error);
            }
        }
        textarea {
            background: var(--color-background-error);
            color: var(--color-error);
            outline: none;
            border: 2px solid var(--color-error);
            &::placeholder {
                color: var(--color-error);
            }
        }
        select {
            background: var(--color-background-error);
            color: var(--color-error);
            border: 2px solid var(--color-error);
            &::placeholder {
                color: var(--color-error);
            }
        }
    }
    .error-message {
        padding: 10px 18px;
        color: var(--color-error);
    }

}

.select {
    .select-trigger {
        width: 100%;
        height: 60px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--color-background-2);
        border-radius: 24px;
        border: 2px solid var(--color-background-2);
        color: var(--color-text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        &::after {
            content: url('../../assets/img/select-arrow.svg');
            height: 24px;
            display: block;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }
    }
    .select-inner {
        min-width: 250px;
        margin-top: 10px;
        padding: 18px;
        background: var(--color-main-1);
        border-radius: 24px;
        .select-menu {
            span {
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    &.error {
        .select-trigger {
            background: var(--color-background-error);
            color: var(--color-error);
            border: 2px solid var(--color-error);
            &::placeholder {
                color: var(--color-error);
            }
        }
    }
    .error-message {
        padding: 10px 18px;
        color: var(--color-error);
    }
}

.checkbox-wrapper {
    label {
        span {
            color: #B1B1B1;
            a {
                color: var(--color-link);
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }

    .checkmark-wrapper {
        &:before {
            content: url('../../assets/img/checkbox.svg');
            position: relative;
            display: flex;
            width: 24px;
            height: 24px;
            transition: 0.2s ease;
            border: none;
        }
    }

    label input:checked + .checkmark-wrapper:before {
        content: url('../../assets/img/checkbox-on.svg');
        background: transparent;
        opacity: 1;
        border: none;
    }

    .error-wrapper {
        padding: 12px 18px;
    }

}

.button {
    width: fit-content;
    height: 60px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &.btn-primary {
        background: var(--color-main-2);
    }
    &.btn-secondary {
        background: var(--color-main-3);
    }
}

/* Main CSS - END */